.blog

  %h3 ETIQUETA ENGOMADA<span> May 30, 2013 </span> </br>
  .description= t('etiqueta_engomada')

  %img{src:"/images/etiqueta_engomada.jpg"}
  

  %h3 PALO SECO <span> May 16, 2013 </span> </br>
  .description= t('palo_seco')

  %img{src:"/images/paloseco.jpg"}


  %h3 ADVERTENCIA <span>March 25, 2013 </span> </br>
  .description= t('advertencia')

  %img{src:"/images/advertencia.jpg"}

  %h3 PANTALLA <span>November 2nd, 2012 </span> </br>
  .description= t('pantalla')

  %img{src:"/images/pantalla.jpg"}

  %h3 ETIQUETA <span>September 14th, 2012 </span> </br>
  .description= t('etiqueta')

  %img{src:"/images/etiqueta.jpg"}

  %h3 CARTEL <span>September 7th, 2012 </span> </br>
  .description= t('cartel')

  %img{src:"/images/cartel.jpg"}


  %h3 LETRERO <span>September 6th, 2012 </span> </br>
  .description= t('letrero')

  %img{src:"/images/letrero.jpg"}

